* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.App {
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  width: 375px;
  margin-left: auto;
  margin-right: auto;

  .icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;

    &.smile {
      &-good {
        background: url('./image/icon/smile-good.svg');
      }
      &-bad {
        background: url('./image/icon/smile-bad.svg');
      }
      &-neutral {
        background: url('./image/icon/smile-neutral.svg');
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    button {
      transition: all 0.1s ease-in;
      border: none;
      
      &:active {
        transform: scale(0.96);       
      }
    }
  }

  .next-button {
    border-radius: 4px;
    height: 40px;
    width: 100%;
    border: none;
    background-color: #00a18c;
    color: white;
  }

  .stats-list {
    margin-top: 40px;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      margin-top: 15px;

      &:first-child {
        margin-top: 0;
      }

      .icon {
        margin-right: 10px;
      }
    }
  }
}

